/* global vars */
@import "global.less";

/* import custom fonts */
@import "fonts.less";

/* import icons */
@import "icons.less";

/* import artworks */
@import "artworks.less";


body {
  
  background: url("@{image_path}/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-width: 970px;
  
}

html, body{
  min-height:100%; /* needed for container min-height */
}

/* use custom font */
.lucky-text{
  font-family: 'LuckiestGuy';
  -webkit-font-smoothing: antialiased;
}

.gray-text{
  color: #767471;
}
.black-text{
  color: #32302D;
}
.blue-text{
  color: #007BB4;
}

.right-text{
  text-align: right;
}
.center-text{
  text-align: center;
}

/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}

/* header navigation */
.header{
  
  margin: 15px 0px;
  /* logo on navigation */
  .logo{
    
    float: left;
    
    img{
      width: 226px;
    }
  }
  
  /* links on navigation */
  ul{ 
    
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
    li{
      
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
      line-height: 48px;
      margin-top: 22px;
      padding: 0px;
      text-shadow: 1px 1px 1px #60913F, 
                  -1px -1px 1px #60913F;
      .lucky-text;
      
      &:hover{
        cursor:  pointer;
      }
      
      a{
        color: #FFF;
        text-decoration: none;
      }
      
    }
  }
}

/* content */
.content{
  
  background: #FFF;
  border-radius: 32px;
  box-shadow: 0px 0px 5px #60913F;
  padding: 40px ;
  font-size: 16px;
  margin-bottom: 30px;
  .gray-text;
}

.lesson{
  
  .details{
    
    .title{
      margin-top: 0px;
      .black-text;
    }
    p,
    .statistics{
      margin: 20px 0px;
    }
    .total{
      font-size: 24px;
      .lucky-text;
      .black-text;
    }
    .btn{
      width: 100%;
    }
    .artwork{
      text-align: center;
      margin-top: 20px;
    }
  }
  
  .box{
    
    background: @background_color;  
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    .rounded(4px);
    .title{
      font-size: 24px;
    }
  }
  
}


.side-bar{
  
  position: relative;
  
  .username{
    
    font-size: 20px;
    min-height: 48px;
    line-height: 48px;
    font-weight: bold;
    .blue-text;
    
    .image{
      margin-right: 15px;
    }
  }
  
  .list{
    
    list-style: none;
    padding: 0px;
    border-top: 3px solid @border_color;
    border-bottom: 3px solid @border_color;
    li{
      font-size: 20px;
      a{
        
        color: #32302D; 
        text-decoration: none;
        padding: 10px; 
        margin: 5px 0px;
        display: block;
        
        .rounded(4px);
        &:hover,
        &.active{
          color: #007BB4;
          background: @background_color;
        }
      } 
    }
  }
  
}


.tip{
  
  border: 2px solid #D0D1D3;
  .rounded(12px);
  padding: 30px;
  box-shadow: 3px 3px 5px #D0D1D3;
  
  .title{
    text-align: center;
    margin-bottom: 15px;
    h2{
      display: inline-block;
      margin: 0px;
      .lucky-text;
      color: #279ED0;
    }
    em{
      display: block;
      margin-left: 32px;
      font-style: normal;
      margin-top: -10px;
    }
  }
  
}

/* buttons */

.btn{
  box-shadow: 0px 1px 0px rgba(255,255,255,.3) inset;
}

.btn-primary{
  background: @button_color;
  border: 1px solid @button_border_color;
}

.btn-xlg{
  padding: 25px 30px 15px;
  .lucky-text;
  font-size: 32px;
}